<div class="container min-100-vh">
    <div class="col-12 text-end">
        <button class="btn btn-success" (click)="back()">กลับ</button>
    </div>
    <div class="card my-5">
        <div class="card-header">
            <h6>USER EDIT</h6>
        </div>
        <div class="card-body">
            <form #ref="ngForm" (ngSubmit)="submit(ref.value)">
                <input type="hidden" class="form-control" name="id" id="id" [(ngModel)]="editForm.id" />
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="editForm.name"
                        placeholder="name" />
                    <label for="name">name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="address" id="address" [(ngModel)]="editForm.address"
                        placeholder="address" />
                    <label for="address">address</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea name="avatar" id="avatar" class="form-control" [(ngModel)]="editForm.avatar"
                        placeholder="avatar" cols="10" row="10"></textarea>

                    <label for="avatar">address</label>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                    <button class="btn btn-danger btn-sm" type="reset">Reset</button>
                </div>

            </form>
        </div>
    </div>


</div>